<a href="https://colab.research.google.com/github/marekonazara-ctrl/Algoritma_dan_Pemrograman/blob/main/Testing_Algoritma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#Introduction
print("This program will show days in month")
print('-------------------------------------\n')
#Add flag to the input
valid_input = True

#input the month
month = int(input("Enter month in (1-12): "))

#conditions
if month == 2:

  #inputing the years for know the kabisat's years
  years = int(input("Enter years(e.g., 2010):"))

  #The month that has 28 or 29 days
  if (years % 4 == 0) and (not (years % 100 == 0) or (years % 400 == 0)):
    num_days = 29
  else:
    num_days = 28

#The month that has 31 days
elif month in (1,3,5,7,8,10,12):
  num_days = 31

#The month that has 30 days
elif month in (4,6,9,11):
  num_days = 30
else:
  print("Invalid month")
  valid_input = False
if valid_input:
  print(f"There are {num_days} days in the month\n")

This program will show days in month
-------------------------------------

Enter month in (1-12): 2
Enter years(e.g., 2010):2016
There are 29 days in the month

In [12]:
id = 0
sum = 0
print('Before', id, sum)
for value in [9, 41, 12, 3, 74, 15]:
  id = id + 1
  sum = sum + value
  print(id, sum, value)
print('After', id, sum)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154

In [20]:
found = False
print("Before", found)
for value in [9, 41, 12, 74, 15, 20, 3, 21]:
  if value == 3:
    found = True
    break
  print(found, value)
print("After", found)

Before False
False 9
False 41
False 12
False 74
False 15
False 20
After True

# **GAME SEDERHANA**

In [43]:
import random

print("The purpose of this excercise is to enter a number of coin values\nthat add up to a displayed target value\n")
print("Enter coins values as 1-penny, 5 nickel, 10-dime and 25-quarter.")
print("Hit return after the last entered coin value.")
print("----------------------------------------------------------------")
print("Enter coins that add up to 63 cents, one per line.\n")

terminate = False
empty_str = ''

while not terminate:
  amount = random.randint(1,99)
  print('Enter coins that add up to', amount, 'cents, one per line.\n')
  game_over = False
  total = 0

  while not game_over:
    valid_entry = False

    while not valid_entry:
      if total == 0:
        entry = input('Enter First coin: ')
      else:
        entry = input('Enter next coin: ')

      if entry in (empty_str, '1', '5', '10', '25'):
        valid_entry = True
      else:
        print('invalid entry')
    if entry == empty_str:
      if total == amount:
        print('Correct!')
      else:
        print('Sorry - you only entered', total, 'cents.')
      game_over = True
    else:
      total = total + int(entry)
      if total > amount:
        print('Sorry - total amount exceeds', amount, 'cents.')
        game_over = True
    if game_over:
      entry = input('\nTry again (y/n)?: ')
      if entry == 'n':
        terminate = True
print('Thanks for playing ... Goodbye')

The purpose of this excercise is to enter a number of coin values
that add up to a displayed target value

Enter coins values as 1-penny, 5 nickel, 10-dime and 25-quarter.
Hit return after the last entered coin value.
----------------------------------------------------------------
Enter coins that add up to 63 cents, one per line.

Enter coins that add up to 70 cents, one per line.

Enter First coin: 25
Enter next coin: 25
Enter next coin: 10
Enter next coin: 10
Enter next coin:
Correct!

Try again (y/n)?: y
Enter coins that add up to 65 cents, one per line.

Enter First coin: 10
Enter next coin: 10
Enter next coin: 10
Enter next coin: 10
Enter next coin: 20
invalid entry
Enter next coin:
Sorry - you only entered 40 cents.

Try again (y/n)?: n
Thanks for playing ... Goodbye

In [42]:
print('This program will show your price after discount')
print('------------------------------------------------\n')

#variabel

Susu = 17000
indomie = 2500

total_harga = int(input('Total harga belanjaan: Rp'))

if total_harga >= 100000 :
  discount = total_harga - (total_harga*0.2)
  print(f"Harga setelah diskon adalah : Rp{discount}")
else:
  print(total_harga)

This program will show your price after discount
------------------------------------------------

Total harga belanjaan: Rp2000000
Harga setelah diskon adalah : Rp1600000.0

In [47]:
def input_barang():
  barang1 = input('Masukkan nama barang1: '),
  barang2 = input('Masukkan nama barang2: '),
  barang3 = input('Masukkan nama barang3: '),
  barang4 = input('Masukkan nama barang4: ')

def list_barang():
  susu = 17000,
  mainan = 50000,
  kacang = 20000,
  iphone = 13000000,
  laptop_gaming = 20000000

if input_barang == list_barang:
  print(list_barang)

In [50]:
def input_barang():
  barang1 = input('Masukkan nama barang1: ')
  barang2 = input('Masukkan nama barang2: ')
  barang3 = input('Masukkan nama barang3: ')
  barang4 = input('Masukkan nama barang4: ')
  return [barang1, barang2, barang3, barang4]

def list_barang():
  item_prices = {
      'susu': 17000,
      'mainan': 50000,
      'kacang': 20000,
      'iphone': 13000000,
      'laptop_gaming': 20000000
  }
  return item_prices

# Call the functions and store their return values
input_items = input_barang()
item_prices_dict = list_barang()

total_price = 0
for item in input_items:
  if item in item_prices_dict:
    total_price += item_prices_dict[item]
    print(f"Added {item}: Rp{item_prices_dict[item]}")
  else:
    print(f"Item '{item}' not found in the price list.")

tax = total_price * 0.10
total_price_with_tax = total_price + tax

print("\n--- CALCULATION ---")
print(f"Subtotal: Rp{total_price}")
print(f"Tax (10%): Rp{tax}")
print(f"Total price with tax: Rp{total_price_with_tax}")

Masukkan nama barang1: susu
Masukkan nama barang2: kacang
Masukkan nama barang3: laptop_gaming
Masukkan nama barang4: iphone
Added susu: Rp17000
Added kacang: Rp20000
Added laptop_gaming: Rp20000000
Added iphone: Rp13000000

--- Calculation ---
Subtotal: Rp33037000
Tax (10%): Rp3303700.0
Total price with tax: Rp36340700.0